---
// Hero general component for Arbo Servis
import HeroImage from '@/assets/images/hero-general-image.jpg';
import TreeIllustration from '@/assets/images/tree-illustration-color.svg';
import { Image } from 'astro:assets';

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<section class="relative">
  <!-- Dark background -->
  <div
    class="absolute inset-0 bg-grey-950 pointer-events-none -z-10 mb-48 lg:mb-0 h-[30rem]"
    aria-hidden="true"
  >
    <div class="w-full h-full" data-aos="fade">
      <Image
        src={HeroImage}
        width={1440}
        height={497}
        alt="Hero background"
        class="opacity-10 w-full h-full object-cover"
      />
    </div>
  </div>

  <div class="relative max-w-6xl mx-auto px-4 sm:px-6">
    <div class="pt-32 md:pt-40">
      <!-- Section header -->
      <div class="max-w-3xl mx-auto text-center pb-16">
        <!-- Main heading with tree integration -->
        <div class="flex flex-row justify-center items-center">
          <TreeIllustration
            class="h-32 w-12 lg:h-48 lg:w-24 text-latte-200 transform scale-x-[-1] opacity-50"
          />
          <div class="z-10">
            <h1 class="h1 font-montserrat tracking-wider text-grey-100 relative">
              {title}
            </h1>
            {description && <p class="text-lg text-grey-100 mt-6">{description}</p>}
          </div>
          <TreeIllustration class="h-32 w-12 lg:h-48 lg:w-24 text-latte-200 opacity-50" />
        </div>
      </div>
    </div>
  </div>
</section>
