---
// Logo component for Arbo Servis
import { Image } from 'astro:assets';
import LogoImageWhite from '@/assets/images/arbo-logo-white.svg';
import LogoImage from '@/assets/images/arbo-logo.svg';

const { logo = 'white' } = Astro.props;
---

<a
  href="/"
  class="block text-blue-600 transition duration-150 ease-in-out"
  aria-label="Arbo Servis"
>
  <Image
    src={logo === 'white' ? LogoImageWhite : LogoImage}
    alt="Arbo Servis"
    width={100}
    height={100}
  />
</a>
